@page "/about"

<h3>About</h3>

<p>
    This is an open source clone of the game Wordle to demo how the wordle game would work using a Blazor/.Net 6 app.  <a href="https://www.powerlanguage.co.uk/wordle/" class="underline font-bold">play the original here</a>
</p>