@page "/about"

<h3>About</h3>

<div>
    <p class="about_text">
        This is an open source clone of the game Wordle developed to demo how the wordle game would work using a Blazor WASM/.Net 6 app.
    </p>

    <table>
        <tr>
            <td>
                <a href="https://github.com/johnt84/WordleBlazorApp/" class="underline font-bold">View the source code here</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.powerlanguage.co.uk/wordle/" class="underline font-bold">Play the original here</a>
            </td>
        </tr>
    </table>
</div>



